.best{
    color:red;
}
#worst{
    background-color: blue;
}

.help{
    border:10px solid purple;
    padding-left:80px;
    margin-left:40px;
}

#sorry{
    padding:20px 30px 40px 50px;
    margin:20px 30px 40px 50px;
    border:20px dotted red;
}